body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

section {
    margin: 0.5em;
    padding: 0.5em;
    background-color: white;
    overflow-y:auto;
}

li{
    padding: 3px 20px;
}

ol li:nth-child(odd) {
    background-color: #f2f2f2; /* Light gray background for odd items */
}

ol li:nth-child(even) {
    background-color: #ffffff; /* White background for even items */
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.3em 0;
}
